*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(90deg,#550092, #5ebfff);
    background-size: 400% 400%;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    animation: rotarFondo 10s linear infinite;
}

@keyframes rotarFondo{
  0%{
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100%{
    background-position: 0% 50%;
  }
}
/*TOP MENU*/
.top-menu{
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  z-index: 999;
  height: 50px;
  position: fixed;
  border-radius: 0px 0px 25px 25px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.menu-list{
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 0px;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-links{
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Impact;
  font-weight: 100;
  transition: color 0.7s ease;
}

.menu-links:hover {
  color: #9A003D;
  
}

.burguer-menu{
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #000000;
  cursor: pointer;
}
/*MOVILES*/
@media screen and (max-width: 368px){
  .burguer-menu{
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
  }
  .menu-list{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    background-color: #ffffff7a;
    padding: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 25px;

  }
  

  .menu-links{
    padding: 10px 20px;
    text-align: center;
    width: 100%;
  }
}

@keyframes slideDown{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-20px);
  }
}

.menu-list.show-menu{
    display: flex;
    animation: slideDown 0.7s ease forwards;

  }
  .mene-list.hide-menu{
    animation: slideUp 0.7s ease forwards;
  }

/*FIN TOP MENU*/

.background-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image{
  max-width: 70%;
  opacity: 0.2;
}

.container-general{
  display: grid;
}

.titulo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-converter{
  font-family: Impact, sans-serif;
  font-size: clamp(2rem, 3.5rem, 5rem);
  text-transform: uppercase;
  background: linear-gradient(135deg, #5ebfff 50%, #550092 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2px;
  animation: rotarFondo 15s linear infinite;
}

.logo-converter{
  width: clamp(100px, 100vw, 500px);
  height: auto;
  margin: auto;
  cursor: pointer;
  display: block;
  transition: opacity 0.7s ease, transform 0.7s ease-in-out, filter 0.7s ease;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-busqueda{
  border-radius: 25px 0px 0px 25px;;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 15px;
  padding: 5px;
  color: #ffffff;
  
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  width: 70%;
}
.input-busqueda::placeholder{
  color: #ffffff;
}

.boton-convertir{
  margin-left: 1px;
  padding: 6px;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
  background: linear-gradient(90deg, #ffffff, #f7f7f7);
  border: 1px solid transparent;
  transition: transform 0.3s ease;
}

.boton-agregar{
  cursor: pointer;
  margin-left: 1px;
  padding: 6px;
  border-radius: 0px;
  background: linear-gradient(90deg, #ffffff, #f7f7f7);
  border: 1px solid transparent;
  transition: transform 0.3s ease;
}

.boton-convertir:hover,
.boton-agregar:hover{
  transform: scale(1.1);
  
}
/*LIBRERIA SWEETALERTS2*/
.swal2-popup{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 25px;
}

.sawl2-icon{
  font-weight: bold;
}

.swal2-confirm{
  border-radius: 25px;
  background-color: #000000;
  color: #ffffff;
}
/*FIN LIBRERIA SWEETALERTS2*/
/*APARTADO DE LISTA DE DESCARGAS*/
.lista-titulo{
  font-family: Impact, Haettenschweiler, sans-serif;
  margin-top: 25px;
  font-weight: lighter;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 85%;
  background-color: #00000078;
  border-radius: 25px 25px 0 0;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 10px;
}

.lista-descarga {
  list-style: none;
  padding-left: 0;
  margin: auto;
  margin-top: 10px;
  width: 85%;
}

.lista-descarga li {
  background: #ffffff;
  padding: 10px;
  border-radius: 0 0 25px 25px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  word-break: break-word;
}
/*FIN DE LISTA DE DESCARGAS*/

/*APARTADO DE PASOS*/
.container-pasos{
  display: flex;
  flex-wrap: wrap;
    margin: auto;
    /*padding: 25px;*/
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: transparent;
  border-radius: 50px;

}

.boton-pasos{
  width: clamp(100px, 15vw, 150px);
  height: clamp(100px, 15vw, 150px);
  border-radius: 50%;
  margin-top: 10px;
  background: #ffffff1f;
  backdrop-filter: blur(12px);
  font-size: clamp(1rem, 2vw, 1.5rem);
  cursor: pointer;
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 8px #c9c9c94d,
  inset -2px -2px 8px #00000040,
  0 6px 25px #00000066;
  margin: 5px;
  transition: all 0.9s ease;
}

.boton-pasos:hover{
  transform: scale(1.08) rotate(3deg);
  box-shadow: 
    inset 3px 3px 10px #ffffff5d, 
    inset -3px -3px 10px #0000004d, 
    0 8px 30px #00000080;
}

/*FIN APARTADO DE PASOS*/

/*MODAL VERMAS*/
.modal{
  display: none;
  position: fixed;
  will-change: transform, opacity; /*esto sirve pa que no se apendeje*/
  margin: auto;
  width: clamp(300px, 50%, 1200px);
  height: 70%;
  justify-content: center;
  align-self: center;
  z-index: 1;
}


@keyframes popIn{
  0%{
    transform: scale(0.7);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popOut{
  0%{
    transform: scale(1);
    opacity: 0;
  }
  100%{
    transform: scale(0);
    opacity: 1;
  }
}

.parrafo-modal{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  word-break: break-all;
}

.modal-content{
  background-color: #f7f7f777;
  border-radius: 25px;
  max-width: 90%;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 40%;

}

.boton-cerrar{
  cursor: pointer;
  font-weight: bold;
  float: right;
  color: #a00000;
}

.video-apoyo{
  width: 90%;
  height: 50%;
  margin: auto;
  border-radius: 25px;

}

/*FIN MODAL VERMAS*/


/*CONTADOR DE VISITAS*/

.contador-visitas{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #4ea7f3;
  color: white;
  padding: 8px 14px;
  border-radius: 50px;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 9999;
  cursor: default;
  font-size: 14px;
  opacity: 0.95;
}

/****FOOTER*****/

.footer-general{
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.derechos-agradecimientos{
  width: 35%;
  font-size: clamp(12px, 1vw, 16px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: auto;

}

.logo-footer{
  width: 40%;
  height: auto;

}
.socialmedia-footer{
  width: 25%;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

/*imgs-logo*/

.instagram-footer{
  width: 45px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.6s ease-in;
  
}
.tiktok-footer{
  width: 45px;
  cursor: pointer;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.6s ease-in;
}
/*.github-footer{
  width: 50px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.6s ease-in;
}*/

.instagram-footer:hover,
.tiktok-footer:hover,
.github-footer:hover{
  transform: scale(1.1);
}